main {
  /* margin-top: 10vh; */
}

#titulo_admin {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  font-weight: bold;
  color: var(--azulOscuro);
  margin-bottom: 50px;
  padding: 10px 0;
  border-bottom: 1px solid var(--verde);
  border-top: 1px solid var(--verde);
  background-color: rgba(133, 176, 205, 0.324);
}

.contenedorFlexilla_grilla {
  width: 100%;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20vh 0; */
  /* justify-content: center; */
}

.grilla {
  background-color: var(--verde);
  color: var(--azulOscuro);
}

.encabezado_grilla {
  font-size: 12px;
}

.cuerpo_grilla {
  background-color: var(--blanco);
  font-size: 12px;
}

/* Estilos a el contenedor de grilla */

.contenedorGrilla {
  width: 300px;
}

/* ESTILOS A LAS ACCIONES DE GRILLA */
.botonNuevo {
  padding: 2px;
  /* margin: 10px; */
  border: none;
  background-color: transparent;
}

/* /////////////////BREAKPOINTS */

/* modo tablet */
@media (min-width: 768px) {
  /* aumento tamaño de la grilla */
  .contenedorGrilla {
    width: 600px;
  }
  #titulo_admin {
    font-size: 22px;
  }
}

/* modo pc */
@media (min-width: 992px) {
} ;
