main {
  margin-top: 10vh;
}

#titulo_admin {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  font-weight: bold;
  color: var(--azulOscuro);
  margin-bottom: 50px;
  padding: 10px 0;
  border-bottom: 1px solid var(--verde);
  border-top: 1px solid var(--verde);
  background-color: rgba(133, 176, 205, 0.324);
}

.contenedorFlexilla_grilla {
  width: 100%;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 20vh 0; */
  /* justify-content: center; */
}

.grilla {
  background-color: var(--verde);
  color: var(--azulOscuro);
}

.encabezado_grilla {
  font-size: 12px;
}

.cuerpo_grilla {
  background-color: var(--blanco);
  font-size: 12px;
}

/* Estilos a el contenedor de grilla */

.contenedorGrilla {
  width: 300px;
}

/* ESTILOS A LAS ACCIONES DE GRILLA */
.boton {
  padding: 10px;
  /* margin: 10px; */
  border: none;
  background-color: transparent;
}

/* ESTILOS AL FORM */
.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.actions i {
  margin: 2px;
}
.botonNew {
  border: 1px dotted var(--azulOscuro); /* border: none; */
  background-color: #28314930;
  color: var(--azulOscuro);
  font-size: bold;
  padding: 2px;
  margin: 5px 0;
  font-size: 12px;
}
.botonNew:hover {
  background-color: var(--verde);
  color: var(--blanco);
}

/* estilos al modal */
#header_modal {
  background-color: var(--blanco);
  color: var(--verde);
}
#header_modal h5 {
  font-weight: 600;
  /* font-weight: bold; */
}
.btn_modal_admin {
  border: 0.5px solid var(--blanco);
  padding: 8px;
  color: var(--verde);
  background-color: var(--blanco);
}
.btn_modal_admin:hover {
  background-color: var(--verde);
  color: var(--blanco);
  cursor: pointer;
}

/* /////////////////BREAKPOINTS */

/* modo tablet */
@media (min-width: 768px) {
  /* aumento tamaño de la grilla */
  .contenedorGrilla {
    width: 600px;
  }
  #titulo_admin {
    font-size: 22px;
  }
  .form_Admin .destacada {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
}

/* modo pc */
@media (min-width: 992px) {
  .contenedorGrilla {
    min-width: 800px;
  }
  .contenedorGrilla th,
  td {
    font-size: 18px;
  }
  .botonNew {
    padding: 5px;
    font-size: 15px;
  }
} ;
