.contenedor-banner {
  height: 300px;
  max-height: 400px; /*altura maxima del contenedor.*/
  background: linear-gradient(
      0deg,
      rgba(40, 49, 73, 1) 0%,
      rgba(40, 49, 73, 0.1) 100%
    ),
    url(https://images.unsplash.com/photo-1523521958600-3d7aadb62b83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
}

.cont-info {
  max-height: em;
}

.titulo-destacada {
  font-weight: 600;
  color: var(--blanco);
  font-size: 17px;
}

.descripcion-destacada {
  font-weight: 400;
  color: var(--blanco);
  max-width: 40%;
}
.button-banner {
  background-color: var(--verde);
  border: none;
  border-radius: 100px;
  padding: 15px;
  color: var(--blanco);
  height: 50px;
  width: 70px;
}
.button-banner:hover {
  background-color: var(--blanco);
  transform: scale(1.05);
  color: var(--verde);
}

/* BREAKPOINTS */

/* Modo tablet */
@media (min-width: 768px) {
}

/* Modo PC */
@media (min-width: 992px) {
}
