#header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 505;
  /* animacion */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.color_Header {
  background-color: var(--azulOscuro);
}

header .navBar {
  height: 40px;
  display: flex;
  /* justify-content: end; */
  align-items: center;
  position: relative;
}

/* ESTILOS AL LOGO */

#img_logo {
  margin-left: 2px;
  height: 20px;
  width: 20px;
  /* margin-right: 5px; */
  display: block;
  cursor: pointer;
}

/* MENU LATERAL */

#btn_menu {
  display: none;
}

.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px; /*para posicionar a la izq*/
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.container-menu-click {
  opacity: 1;
  visibility: visible;
}

/* este es el contenedor del menu ocultp
aca vemos lo del menu hamburguesa */
.cont-menu {
  width: 100%;
  max-width: 180px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  font-size: 13px;
  font-weight: 600;
  transform: translateX(-100%);
}

.cont-menu-click {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(20%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--blanco) !important;
  border-left: 3px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 3px solid var(--verde);
  background-color: #1f1f1f;
  cursor: pointer;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
}

/* breakpoints */
/* MODO SMALL */ /*viene todo para modo small, luego empiezo a tocar estilos en modo tablet y pc*/

/* MODO TABLET */
@media (min-width: 768px) {
  .botonInicio:hover {
    border: 1px solid var(--azulOscuro);
    background-color: var(--verde);
  }
  .items_header li a {
    font-size: 14px;
  }
  .navBar {
    height: 50px;
  }

  #img_logo {
    height: 28px;
    width: 25px;
  }

  .cont-menu {
    max-width: 200px;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .items_header li a {
    font-size: 16px;
  }
  .navBar {
    min-height: 55px;
    display: flex;
  }
  #img_logo {
    height: 36px;
    width: 33px;
  }

  .cont-menu {
    max-width: 250px;
    font-size: 20px;
  }
  .cont-menu nav a {
    padding: 25px;
  }
  .cont-menu label {
    font-size: 18px;
  }
}
