/* ESTILOS A LOS ITEMS NAVEGABLES */

.nav-item a {
  color: var(--verde); /*color a items navegables*/
}

.colorNavBar {
  background-color: var(--azulOscuro);
}

/* tamaño de letra en items navegables */
.items_header li a {
  font-size: 13px;
}

/* ESTILOS AL LOGO */
#img_logo {
  height: 35px;
  width: 95px;
}

/* breakpoints */
/* MODO SMALL */ /*viene todo para modo small, luego empiezo a tocar estilos en modo tablet y pc*/

/* MODO TABLET */
@media (min-width: 768px) {
  .botonInicio:hover {
    border: 1px solid var(--azulOscuro);
    background-color: var(--verde);
  }
  .items_header li a {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .items_header li a {
    font-size: 16px;
  }
}
