#header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 505;
  /* animacion */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.color_Header {
  background-color: var(--azulOscuro);
}

.navBar {
  display: flex;
  justify-content: space-between;
}

/* ESTILOS AL LOGO */
#img_menu {
  height: 25px;
  width: 25px;
}

.divLogo {
  color: var(--azulOscuro);
  font-weight: 600;
  margin-left: 20px;
}

/* breakpoints */
/* MODO SMALL */ /*viene todo para modo small, luego empiezo a tocar estilos en modo tablet y pc*/

/* MODO TABLET */
@media (min-width: 768px) {
  .botonInicio:hover {
    border: 1px solid var(--azulOscuro);
    background-color: var(--verde);
  }
  .items_header li a {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .items_header li a {
    font-size: 16px;
  }
  #header {
    height: 100px;
  }
}
