/* estilos al logo del modal */
#img_logoModal {
  height: 32px;
  width: 75px;
}

.btn-entrar {
  border: 0.5px dotted var(--verde);
  padding: 5px;
  color: var(--azulOscuro);
  background-color: var(--blanco);
}
.btn-entrar:hover {
  background-color: var(--verde);
  color: var(--blanco);
}

.infoUsuario-login {
  font-size: 11px;
  color: var(--azulOscuro);
}

#estadoDeLogueo {
  justify-content: center;
  font-size: 12px;
  color: var(--azulOscuro);
}

/* BREAKPOINTS */

/* MODO TABLET */
@media (min-width: 768px) {
  .tamañoModal-md {
    width: 350px !important;
    height: 350px !important;
  }
}
/* MODO PC */
@media (min-width: 992px) {
}
